
@tailwind base;
@tailwind components;
@tailwind utilities;

.button { @apply bg-blue-500 px-3 py-1 text-center text-gray-50 rounded-lg text-lg font-bold}
.h1 {@apply text-2xl font-bold}
.p {@apply font-semibold}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
